li.index {
  height: 50px;
  cursor: pointer;
  list-style: none;
  margin-bottom: var(--gap);
  line-height: 50px;
  will-change: color;
  transition: color 250ms ease;
}

li.index[aria-selected="true"] {
  color: var(--color-primary);
}

li.index[aria-selected="false"]:hover {
  color: var(--color-primary);
  opacity: 0.75;
}
