div.table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: max-content;
  gap: var(--gap);
}

ul.container {
  position: relative;
  --offset: 50px;
}

li.selector {
  position: absolute;
  left: -2rem;
  top: 0;
  height: var(--offset);
  width: var(--offset);
  border-left: 2px solid var(--color-primary);
  transition: transform 200ms ease-in-out;
}

li.selector::before {
  content: none;
}
