:root {
  --max-width: 1120px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --grid-bg: #fbfbfb;
  --card-padding: 20px;
  --page-bg: #f7f7f7;
  --gap: 20px;
  --text-color: #333;

  --color-primary: #369687;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--page-bg);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

section.page {
  width: 100%;
  min-width: 100vh;
}

p:not(:last-of-type) {
  margin-bottom: var(--card-padding);
}

hr {
  border-color: var(--grid-bg);
  opacity: 0.3;
  margin: 1rem 0;
}

h1,
h2 {
  font-weight: 500;
}

ul {
  list-style: none;
}

li {
  position: relative;
}

li::before {
  position: absolute;
  left: -1.5rem;
  content: "▹";
  color: var(--color-primary);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
