:root {
    --transition: 250ms;
    @include light-mode;
    &[color-theme='light'] {
        @include light-mode;
    }
    &[color-theme='dark'] {
        @include dark-mode;
    }
    @media (prefers-color-scheme: dark) {
        @include dark-mode;
    }
}

ul {
    list-style: none;
    li {
        position: relative;
        &::before {
            position: absolute;
            left: -1.5rem;
            content: '▹';
            color: var(--highlight);
        }
        p {
            margin-bottom: 0.5rem !important
        }
    }
}