div.card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--grid-bg);
  width: 100%;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: var(--card-padding);
  backdrop-filter: blur(10px);
}
